#confirmationMailModal.panel
  .confirmation_mail.row
    %h2 Resend confirmation instructions
    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {class: "no-double-click"}) do |f|
      = devise_error_messages!
      .error
      .field
        = f.label :email
        = f.email_field :email, autofocus: true
      .actions
        = f.submit "Resend confirmation instructions"
