#signInModal.reveal-modal.large{"aria-hidden" => "true", "aria-labelledby" => "modalTitle", "data-reveal" => "", :role => "dialog"}
  .login_page
    .success_flash.hide
      = t("devise.sessions.signed_in")
    .title
      %h3 Nice to have you back!
      %h2 Log in
    .social_media_sign_in
      = link_to "", omniauth_authorize_path(resource_name, "google_oauth2"), class: "google_sign_in"
      = link_to "", omniauth_authorize_path(resource_name, "facebook"), class: "fb_sign_in"
    .or
      %h5 Or
    = form_for(resource, as: resource_name, url: session_path(resource_name), remote: true) do |f|
      .display_error
      .field
        = f.label :email
        = f.email_field :email, autofocus: true
      .field
        = f.label :password
        = f.password_field :password, autocomplete: "off"
      .actions
        = f.submit "Log in"
    = render "users/shared/links"
  = render "users/shared/close"
