#signInModal.panel
  .login_page
    .title
      %h3 Nice to have you back!
      %h2 Log in
    .social_media_sign_in
      = link_to "", omniauth_authorize_path(resource_name, "google_oauth2"), class: "google_sign_in"
      = link_to "", omniauth_authorize_path(resource_name, "facebook"), class: "fb_sign_in"
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "no-double-click new-user-session"}) do |f|
      = devise_error_messages!
      .error
      .field
        = f.label :email
        = f.email_field :email, autofocus: true, required: ""
      .field
        = f.label :password
        = f.password_field :password, autocomplete: "off", required: ""
      .actions
        = f.submit "Log in"
    = render "users/shared/links"
