
.field#author_field
  - if current_user.is_a?(RegisteredUser)
    = hidden_field_tag :owner_id, "User:#{current_user.id}"
  - else
    = label_tag :author, "Author", class: "star_it"
    - unless @article.creator.is_a?(RegisteredUser)
      - select_options, selected_value = author_options(@article)
      = select_tag :owner_id, options_for_select(select_options, selected_value), id: "owner-select"
      %a{href: "#", "data-reveal-id" => "createAuthorModal"} + Add author
    - else
      = @article.principal_author.full_name
.field#category_field
  = f.label "Category", class: "star_it"
  = f.select(:category_id, Category.all.collect{|c| [c.name, c.id]}, {include_blank: ''}, id: "category-select")
.field
  = f.label :title, data: { hint: "Maximum 12 words" }
  = f.text_field :title
.field#tags_field
  = label_tag "Tags"
  = f.text_field :tag_list, id: "tags"
= f.fields_for :cover_image do |cif|
  .field
    = cif.label :cover_photo, "Cover Image"
    - if cif.object && cif.object.cover_photo
      = image_tag @article.cover_image_url(:medium), :id => "coverImage"
    = cif.file_field :cover_photo, id: "file_upload"
%div.inline-labels
  %label
    X1
    %input#x1{:name => "x1", :size => "4", :type => "text"}/
  %label
    Y1
    %input#y1{:name => "y1", :size => "4", :type => "text"}/
  %label
    X2
    %input#x2{:name => "x2", :size => "4", :type => "text"}/
  %label
    Y2
    %input#y2{:name => "y2", :size => "4", :type => "text"}/
  %label
    W
    %input#w{:name => "w", :size => "4", :type => "text"}/
  %label
    H
    %input#h{:name => "h", :size => "4", :type => "text"}/

.field
  = f.label :summary,data: { hint: "Maximum 500 words" }
  = f.text_area :summary, id: "summary"
  %span#char-count
.field
  = f.label :content
  = f.cktext_area :content
