= form_for @article, html: {id: 'article_form'} do |f|
  #error_explanation
  - if @article.errors.any?
    - @article.errors.delete(:cover_image)
    #error_explanation
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg

  = render "form_fields", f: f
  = f.hidden_field(:user_id, value: @article.user_id || current_user.id)
  .actions
    = f.submit ArticlesController::SAVE
    = f.submit current_user.registered_user? ? ArticlesController::SUBMIT_FOR_APPROVAL : ArticlesController::PUBLISH
