= form_for @article do |f|
  - if @article.errors.any?
    #error_explanation
      %h2= "#{pluralize(@article.errors.count, "error")} prohibited this article from being saved:"
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg

  = render "form_fields", f: f
  = f.hidden_field(:user_id, value: @article.user_id || current_user.id)
  .actions
    = f.submit ArticlesController::SAVE
    = f.submit current_user.registered_user? ? ArticlesController::SUBMIT_FOR_APPROVAL : ArticlesController::PUBLISH
