.field
  = f.label :title, data: { hint: "Maximum 12 words" }
  = f.text_field :title
  .field#category_field
    = f.label "Category", class: "star_it"
    = f.select(:category_id, Category.all.collect{|c| [c.name, c.id]}, {include_blank: ''}, id: "category-select")
  .field#tags_field
    = label_tag "Tags"
    = f.text_field :tag_list, id: "tags"
  .field
    = f.label :cover_image
    - if f.object.cover_image
      = image_tag @article.cover_image.url
    = f.file_field :cover_image, id: "file_upload"
  .field
    = f.label :summary,data: { hint: "Maximum 500 words" }
    = f.text_area :summary, id: "summary"
    %span#char-count
  .field
    = f.label :content
    = f.cktext_area :content