= form_for @article, html: {id: 'article_form'} do |f|
  #error_explanation
  - if @article.errors.any?
    - @article.errors.delete(:"cover_image.cover_photo")
    #error_explanation
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg

  = render "form_fields", f: f
  = f.hidden_field(:creator_id, value: @article.creator_id || current_user.id)
  %p
  .actions
    = f.submit ArticlesController::PREVIEW ,:id => "preview", data: {target: "_blank"}
    = f.submit ArticlesController::SAVE, data: {target: ""}
    - if(current_user.registered_user?)
      = f.submit ArticlesController::SUBMIT_FOR_APPROVAL,:id => "approval", data: {target: ""}
    - else
      = f.submit  ArticlesController::PUBLISH,:id => "publish", data: {target: "", confirm: "Are you sure you want to publish this article?"}
    %span.cancel
    = link_to "Cancel", articles_path
