.articles
  .block.article-content
    .panel
      %h4 Publish article
      = form_for @article, url: approve_article_path(@article) do |f|
        - if @article.errors.any?
          #error_explanation
            %ul
              - @article.errors.full_messages.each do |msg|
                %li= msg
        = render "form_fields", f: f
        .actions
          = f.submit ArticlesController::PREVIEW, id: "preview", data: {target: "_blank"}
          = f.submit ArticlesController::SAVE, data: {target: ""}
          = f.submit ArticlesController::PUBLISH, data: {target: ""}
          %span.cancel
            = link_to "Cancel", articles_path

