#home-page
  #section-1{"data-equalizer" => ""}
    #article-1
      = render "shared/choose_article_board", article: @articles_with_order[1], order: 1
    #article-2
      = render "shared/choose_article_board", article: @articles_with_order[2], order: 2

  #section-2{"data-equalizer" => ""}
    - @articles_with_order.slice(3,4,5).each do |order, article|
      .three-column-article
        = render "shared/choose_article_board", article: article, order: order
  #section-4{"data-equalizer" => ""}
    - @articles_with_order.slice(6,7,8).each do |order, article|
      .three-column-article
        = render "shared/choose_article_board", article: article, order: order

  %div#chooseArticlesModal.reveal-modal{"aria-hidden" => "true", "aria-labelledby" => "Choose articles", "data-reveal" => "", :role => "dialog"}
    - @published_articles.each do |article|
      %div
        = link_to article.title, "#", class: "article", data: {article_id: article.id}
    %a.close-reveal-modal{"aria-label" => "Close"} ×