#home-page
  #section-1
    #article-1
      - article = @articles.select{|article| article.home_page_order == 10}.first
      = render "shared/choose_article_board", article: article
    #article-2
      - article = @articles.select{|article| article.home_page_order == 2}.first
      = render "shared/choose_article_board", article: article

  #section-2
    - Array.wrap(@articles[2..4]).each do |article|
      .three-column-article
        = render "shared/choose_article_board", article: article
  #section-4
    - Array.wrap(@articles[5..7]).each do |article|
      .three-column-article
        = render "shared/choose_article_board", article: article

  %div#chooseArticlesModal.reveal-modal{"aria-hidden" => "true", "aria-labelledby" => "Choose articles", "data-reveal" => "", :role => "dialog"}
    - @published_articles.each do |article|
      %div
        = article.title
    %a.close-reveal-modal{"aria-label" => "Close"} ×