.panel
  %h4 My articles

  %table{id: "my-articles"}
    %thead
      %tr
        %th
          TITLE
        %th
          STATUS
        %th
          Actions

    %tbody
      - @articles.each do |article|
        %tr
          %td= link_to article.title, article_path(article)
          %td= article.status
          - if permitted_to?(:edit, article)
            %td= link_to 'Edit', edit_article_path(article)

  %br

  = link_to 'New article', new_article_path

- if @articles_submitted
  .panel
    %h4 Submitted Articles

    %table{id: "submitted-articles"}
      %thead
        %tr
          %th
            TITLE
          %th
            AUTHOR
          %th
            STATUS
          %th
            PUBLISHED DATE
          %th
            Actions

      %tbody
        - @articles_submitted.each do |article|
          %tr
            %td= link_to article.title, article_path(article)
            %td= article.user.full_name
            %td= article.status
            %td= article.date_published.to_date.strftime("%d-%m-%Y")
            - if permitted_to?(:approve_form, article)
              %td= link_to 'Edit', approve_form_article_path(article)