.articles
  .block.article-content
    .panel
      %h2
        = @article.title
        - if @article.status == Article::Status::PUBLISHED
          = social_share_button_tag(@article.title)
      .cover-image
        = image_tag @article.cover_image_url(:medium), :id => "coverImage"
      %br
      %p{:id=> "summary"}
        = @article.summary
      %br
        = @article.content.html_safe
      %br
      %a{:href =>"javascript:history.back()" ,:id => "edit" , class: "button", } Edit
    .tags
      TAGGED UNDER
      %div
        - @article.tags.each do |tag|
          = link_to tag.name, "#"
