.articles
  - set_meta_tags ({site: "Baraza",
    title: @article.title,
    separator: "|",
    og: { site: "Baraza",
      title: @article.title,
      url: article_url(@article),
      description: truncate_summary(@article.summary),
      image: cover_image_url_for(@article)},
    twitter: {card: "summary",
      site: "Baraza",
      title: @article.title,
      url: article_url(@article),
      description: truncate_summary(@article.summary),
      image: cover_image_url_for(@article)}})

  .block.article-content
    .panel
      %h2
        = @article.title
        - if @article.status == Article::Status::PUBLISHED
          = social_share_button_tag(@article.title)
      -#.cover-image
        = image_tag @article.cover_image.url
      = @article.content.html_safe
      %br
      %p
        = @article.summary
      - if permitted_to?(:edit, @article)
        = link_to 'Edit', edit_article_path(@article)
      - if permitted_to?(:approve_form, @article)
        %td= link_to 'Edit', approve_form_article_path(@article)
    .tags
      TAGGED UNDER
      %div
        - @article.tags.each do |tag|
          = link_to tag.name, search_articles_path(q: tag.name, search: Tag.name.downcase.pluralize)
    - if @article.status == Article::Status::PUBLISHED
      %br
      %h4
        DISCUSSIONS
      .panel
        #disqus_thread