.articles
  .block.article-content
    .panel
      %h4
        = @article.title
        - if @article.status == Article::Status::PUBLISHED
          = social_share_button_tag(@article.title)
      = image_tag @article.cover_image.url
      = @article.content.html_safe
      - if permitted_to?(:edit, @article)
        = link_to 'Edit', edit_article_path(@article)
    %h4
      DISCUSSIONS
    .panel
      #disqus_thread
  .block.side-content
    .panel
      %h4 Author