.panel
  %h4 Listing newsletters

  %table
    %thead
      %tr
        %th
          Name
        %th
          Month
        %th
          Status
        %th
          Actions

    %tbody
      - @newsletters.each do |newsletter|
        %tr
          %td= newsletter.name
          %td= newsletter.created_at.strftime("%B")
          %td= newsletter.status
          - if permitted_to?(:edit, newsletter)
            %td= link_to 'Edit', edit_newsletter_path(newsletter)

  %br

  - if permitted_to?(:new, Newsletter.new)
    = link_to 'New Newsletter', new_newsletter_path
  - else
    %i
      All newsletters needs to be published to create a new one