.panel
  %h4 Listing eMagazines
  - if @newsletters.count > 0
    %table
 

      %thead
        %tr
          %th
            Name
          %th
            Month
          %th
            Status
          %th
            Actions

      %tbody
        - @newsletters.each do |newsletter|
          %tr
            %td= newsletter.name
            %td= newsletter.created_at.strftime("%B")
            %td= newsletter.status
            - if permitted_to?(:edit, newsletter)
              %td= link_to 'Edit', edit_newsletter_path(newsletter)

  -else
    No eMagazines available.

  %br

  - if permitted_to?(:new, Newsletter.new)
    = link_to 'New eMagazine', new_newsletter_path
  - else
    %i
      All eMagazines need to be published to create a new one.