.newsletter
  .panel
    %h4 Create magazine
    = form_for @newsletter do |f|
      - if @newsletter.errors.any?
        #error_explanation
          %ul
            - @newsletter.errors.full_messages.each do |msg|
              %li= msg
      .field
        = f.label :name
        = f.text_field :name
      .actions
        = f.submit 'Create'

      = link_to 'Back', newsletters_path
