= form_for @user, url: user_path(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :type
    = f.select :type, User::Roles.values

  .actions
    = f.submit 'Save'