.article-board{"data-equalizer-watch" => ""}
  - if article
    .article-info
      .categories
        = article.categories.first.name
      .title
        = link_to article.title, article_path(article.id)
      .desc
        = "#{article.user.full_name.upcase}, #{time_ago_in_words(article.date_published).upcase} AGO"
      .summary
        = link_to (image_tag article.cover_image.url), article_path(article.id)
        = article.summary
      .desc
        - tags = article.tags.collect do |tag|
          - link_to tag.name, search_articles_path(q: tag.name, search: Tag.name.downcase)
        = tags.join(", ").html_safe

  - if( params[:configure_home]  && (current_user.administrator? || current_user.editor?))
    %a.choose-article{href: "#", "data-reveal-id" => "chooseArticlesModal", data: {order: order}} Change article

    = form_tag("", method: :patch, id: "article-order-#{order}", class: "hide") do
      = hidden_field_tag "article[id]", "", class: "article-id"
      = hidden_field_tag "article[home_page_order]", order