.article-board
  - if article
    %figure
      = link_to (image_tag article.cover_image.url), article_path(article.id)
      %figcaption
        = article.title
  - else
    .panel
      Empty
  %a.choose-article{href: "#", "data-reveal-id" => "chooseArticlesModal", data: {order: order}} Choose article

  = form_tag("", method: :patch, id: "article-order-#{order}", class: "hide") do
    = hidden_field_tag "article[id]", "", class: "article-id"
    = hidden_field_tag "article[home_page_order]", order