.top-story-board{"data-equalizer-watch" => ""}
  - if article
    %figure
      = link_to (image_tag article.cover_image.url(:medium)), article_path(article.id)
      %figcaption
        .article-info
          .title
            = article.title
          .desc
            = "#{article.user.full_name.upcase}, #{time_ago_in_words(article.date_published).upcase} AGO"
          .summary
            = truncate_summary(article.summary)
          .desc
            - tags = article.tags.collect do |tag|
              - link_to tag.name, search_articles_path(q: tag.name, search: Tag.name.downcase.pluralize)
            = tags.join(", ").html_safe

  - if( params[:configure_home]  && (current_user.administrator? || current_user.editor?))
    %a.choose-article{href: "#", "data-reveal-id" => "chooseArticlesModal", data: {order: order}} Change article

    = form_tag("", method: :patch, id: "article-order-#{order}", class: "hide") do
      = hidden_field_tag "article[id]", "", class: "article-id"
      = hidden_field_tag "article[home_page_order]", order