#home-page
  #section-1
    #article-1
      = render "shared/article_board", article: @articles_with_order[1]
    #article-2
      = render "shared/article_board", article: @articles_with_order[2]

  #section-2
    - @articles_with_order.slice(3,4,5).each do |order, article|
      .three-column-article
        = render "shared/article_board", article: article
  #section-3
    .newsletter
      #title
        SUBSCRIBE TO OUR NEWSLETTER
      = form_tag subscribe_newsletters_path do
        #text
          = text_field_tag :email, "", placeholder: "Enter your email", type: "email"
        #submit
          = submit_tag "Subscribe", value: "Subscribe"
  #section-4
    - @articles_with_order.slice(6,7,8).each do |order, article|
      .three-column-article
        = render "shared/article_board", article: article