#home-page
  #section-1{"data-equalizer" => ""}
    #article-1
      = render "shared/top_story_board", article: @articles_with_order[1], order: 1
    #article-2
      = render "shared/article_board", article: @articles_with_order[2], order: 2

  #section-2{"data-equalizer" => ""}
    - @articles_with_order.slice(3,4,5).each do |order, article|
      .three-column-article
        = render "shared/article_board", article: article, order: order
  #section-3
    .newsletter
      #title
        SUBSCRIBE TO OUR eMagazine
      = form_tag subscribe_newsletters_path do
        #text
          = text_field_tag :email, "", placeholder: "Enter your email", type: "email"
        #submit
          = submit_tag "Subscribe", value: "Subscribe"
  #section-4{"data-equalizer" => ""}
    - @articles_with_order.slice(6,7,8).each do |order, article|
      .three-column-article
        = render "shared/article_board", article: article, order: order

  - if( params[:configure_home]  && (current_user.administrator? || current_user.editor?))
    %div#chooseArticlesModal.reveal-modal{"aria-hidden" => "true", "aria-labelledby" => "Choose articles", "data-reveal" => "", :role => "dialog"}
      #modal-content{style: "margin: 20px; overflow: scroll; height: 600px"}
        #title{style: "margin-bottom: 10px;"}
          %h4 Change Block article
          Please choose from the list below which article you would like to appear in block.
        - @published_articles.each do |article|
          #articles-list{style: "border-bottom: 1px solid #DDDDDD; padding: 5px"}
            %div
              = link_to article.title, "#", class: "article", data: {article_id: article.id}
            %div{style: "font-size: 11px"}
              = "#{article.user.full_name.upcase}, #{time_ago_in_words(article.date_published).upcase}"
            %div{style: "font-size: 14px"}
              = truncate_summary(article.summary)
        %a.close-reveal-modal{"aria-label" => "Close"} ×