#admin-article
  = form_for @newsletter, url: admin_newsletters_path(@newsletter) do |f|
    - if @newsletter.errors.any?
      #error_explanation
        %h2= "#{pluralize(@newsletter.errors.count, "error")} prohibited this article from being saved:"
        %ul
          - @newsletter.errors.full_messages.each do |msg|
            %li= msg
    %fieldset{class: "inputs"}
      %legend
        %span
          = f.label :name, @newsletter.name
      .field
        - ar_with_dates = @newsletter.articles.group_by do |article|
          - article.created_at.strftime("%B")
        - ar_with_dates.each do |month, articles|
          %h3.article-month
            = month
            %br
          - articles.each do |article|
            .article{class: "#{'chosen' if article.newsletter_id == @newsletter.id}"}
              .article-overlay
              = check_box_tag("newsletter[article_ids][]", article.id, @newsletter.articles.include?(article), class: "hide")
              .title
                = link_to article.title, article_path(article.id)
              = image_tag(article.cover_image.url)
    .actions
      = f.submit 'Save'

