%p
  = "Dear editors,"
  %br
  .div
    - if @article.status == Article::Status::PUBLISHED
      -#= TODO: send mail to author
      -#= "An article is published in the baraza website by #{@article.user.full_name}"
      %br
      .div
        Link to the article
        = article_url(@article)
    - else
      -#= TODO: send mail to author
      -#= "An article is submitted for approval in the baraza website by #{@article.user.full_name}"
      %br
      .div
        Link to the article
        = article_url(@article)
      %br
      .div
        Please could you have a read and we'll discuss whether this is something that we are able to include.  Thanks for your help with this.