%p
  = "Dear editors,"
  %br
  .div
    = "Following on from our discussion, the article entitled #{@article.title} by #{@article.user.full_name} has now been published on the Pan-African Baraza website."
  .div
    Use the following
    = link_to 'link', article_url(@article)
    to view the article."
  %br
  .div
    Please help by sharing the link with your friends, family and colleagues.. Hope you will also be able to write about it on social media - facebook, twitter etc.