!!! 5
%html{ :lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %title Baraza
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .tabs
      %ul
        %li.left Baraza
        %li.left EXPLORE
        %li.left LEARN
        %li.left PARTICIPATE
        - if current_user
          %li.right
            = link_to "Logout", destroy_user_session_path, :method => :delete
        - else
          %li.right.sign_up
            %a{href: "#", "data-reveal-id" => "signUpModal"}
              Sign Up
          %li.right.sign_in
            %a{href: "#", "data-reveal-id" => "signInModal"}
              Sign In

          = render file: "users/registrations/new"
          = render file: "users/sessions/new"
    %hr
    .mission
      Let us reclaim the past, contest the present & invent the future
    %hr
    %p.notice
      = notice
    %p.alert
      = alert
    = yield
