!!! 5
%html{ :lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %meta{:content => "Baraza Article", :property => "og:title"}/
    %meta{:content => request.original_url, :property => "og:url"}/
    %meta{:content => image_url("logo.png"), :property => "og:image"}/
    %meta{:content => "description goes here", :property => "og:description"}/
    %meta{:content => "article", :property => "og:type"}/

    %meta{:content => "Baraza Article", :name => "twitter:title"}
    %meta{:content => "description goes here", :name => "twitter:description"}
    %meta{:content => request.original_url, :name => "twitter:site"}
    %meta{:content => image_url("logo.png"), :name => "twitter:image"}/
    %meta{:content => "summary", :name => "twitter:card"}

    %title Baraza
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{"data-action" => controller.action_name, "data-controller" => controller.controller_path}
    %ul#category-drop.f-dropdown{"aria-hidden" => "true", "data-dropdown-content" => "", :tabindex => "-1"}
      - Category.all.each do |category|
        %li
          %a{:href => "#"}
            = category.name
    #search-drop.f-dropdown.content{"aria-hidden" => "true", "data-dropdown-content" => "", :tabindex => "-1"}
      = form_tag "", method: :get do
        = text_field_tag :search, params[:search], placeholder: "search...."
    .logo-bar
      .left-empty
      .middle-content
        .header
          #logo
            %a{:href => "/"}= image_tag "logo.png",  :alt => "Baraza Logo"
          %ul#mission
            %li
              %span Reclaiming the past
            %li
              %span Contesting the present
            %li
              %span Inventing the future
      .right-empty
    .nav-bar
      .left-empty
      .middle-content
        .tabs
          .item.left
            %a{"aria-controls" => "category-drop", "aria-expanded" => "false", "data-dropdown" => "category-drop"} EXPLORE
            %span.icon-down-arrow
          .item.left
            %a LEARN
            %span.icon-down-arrow
          .item.left.participate
            %a PARTICIPATE
            %span.icon-down-arrow
          .item.right
            %a.icon-search{"aria-controls" => "search-drop", "aria-expanded" => "false", "data-dropdown" => "search-drop"}
          - if current_user
            .item.right
              = link_to "LOGOUT", destroy_user_session_path, :method => :get
            .item.right
              = link_to "+ CREATE", new_article_path
          - else
            .item.right
              %a{href: "#", "data-reveal-id" => "signInModal"}
                LOGIN /
              %a{href: "#", "data-reveal-id" => "signUpModal"}
                SIGN UP

            = render "users/registrations/new"
            = render "users/sessions/new"
            = render "users/confirmations/new"
            = render "users/passwords/new"
      .right-empty
    .main-content
      .left-empty
      .middle-content
        %p.notice
          = notice
        %p.alert
          = alert
        .render-content
          = yield
      .right-empty