!!! 5
%html{ :lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %title Baraza
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .header
      .logo
        %a{:href => "/"}= image_tag "logo.png",  :alt => "Baraza Logo"
      .mission
        .statement Reclaiming the past
        .separator
          |
        .statement Contesting the present
        .separator
          |
        .statement Inventing the future
    .tabs
      .item.left
        %a EXPLORE
      .item.left
        %a LEARN
      .item.left
        %a PARTICIPATE
      - if current_user
        .item.right
          = link_to "Logout", destroy_user_session_path, :method => :delete
      - else
        .item.right.sign_up
          %a{href: "#", "data-reveal-id" => "signUpModal"}
            Sign Up
        .item.right.sign_in
          %a{href: "#", "data-reveal-id" => "signInModal"}
            Sign In

        = render "users/registrations/new"
        = render "users/sessions/new"
        = render "users/confirmations/new"
        = render "users/passwords/new"

    %p.notice
      = notice
    %p.alert
      = alert
    = yield
