!!! 5
%html{ :lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    = display_meta_tags
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{"data-action" => controller.action_name, "data-controller" => controller.controller_path}
  .wrapper
    %ul#category-drop.f-dropdown{"aria-hidden" => "true", "data-dropdown-content" => "", :tabindex => "-1"}
      - Category.all.each do |category|
        %li
          = link_to category.name, search_articles_path(q: category.name, search: ArticlesController::Search::CATEGORY)
    #search-drop.f-dropdown.content{"aria-hidden" => "true", "data-dropdown-content" => "", :tabindex => "-1"}
      = form_tag search_articles_path, method: :get do
        = text_field_tag :q, params[:q], placeholder: "search...."
        = hidden_field_tag :search, ArticlesController::Search::ALL
    %ul#user-drop.f-dropdown{"aria-hidden" => "true", "data-dropdown-content" => "", :tabindex => "-1"}
      - if permitted_to?(:index, :authors)
        %li
          = link_to "AUTHORS", authors_path
      %li
        = link_to "ARTICLES", articles_path
      %li
        = link_to "LOGOUT", destroy_user_session_path, :method => :get
    .logo-bar
      .left-empty
      .middle-content
        .header
          #logo
            %a{:href => "/"}= image_tag "logo.png",  :alt => "Baraza Logo"
          %ul#mission
            %li
              %span Reclaiming the past
            %li
              %span Contesting the present
            %li
              %span Inventing the future
      .right-empty
    .nav-bar
      .left-empty
      .middle-content
        .tabs
          - if current_user
            = render "tabs/#{current_user.type.underscore}_tab"
          - else
            = render "tabs/guest_tab"
          .item.right
            %a.icon-search{"aria-controls" => "search-drop", "aria-expanded" => "false", "data-dropdown" => "search-drop", "data-options" => "is_hover:true"}
          - if current_user
            .item.right#username
              %a{"aria-controls" => "user-drop", "aria-expanded" => "false", "data-dropdown" => "user-drop", "data-options" => "is_hover:true"}
                = current_user.first_name.upcase
            .item.right
              = link_to "+ CREATE", new_article_path
          - else
            .item.right
              = link_to "LOGIN", new_user_session_path
              %span
                |
              = link_to "SIGN UP", new_user_registration_path

      .right-empty
    .main-content
      .left-empty
      .middle-content
        %p.notice
          = notice
        %p.alert
          = alert
        .render-content
          = yield
      .right-empty

    .footer
      %div{class: "left-empty"}
      %div{class: "middle-content"}
        %div{class: "column-1"}
          %span
            Follow us:&nbsp;
          %a{:href => "https://twitter.com/AfricanBaraza", :target => "_blank"}
            %img{:alt => "Follow us on Twitter", :height => "44", :src => image_url("twitter.png"), :width => "44"}/
          %a{:href => "https://www.facebook.com/PanAfricanBaraza", :target => "_blank"}/
          %img{:alt => "Follow us on Facebook", :height => "44", :src => image_url("facebook.png"), :width => "44", class: "margin-right"}/
          = link_to "About", about_path
          &nbsp;|&nbsp;
          = link_to "Contact", contact_path
        %div{class: "column-2"}
          %div
            %a{:rel => "license", :href => "http://creativecommons.org/licenses/by-nc-sa/4.0/"}
              %img{:alt => "Creative Commons License", :src => image_url("https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png"), style: "border-width: 0"}
          %div{class: "small-text"}
            This work is licensed under a
            %a{:rel => "lecense", :href => "http://creativecommons.org/licenses/by-nc-sa/4.0/"}
              Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License
      %div{class: "right-empty"}
