!!! 5
%html{ :lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %title Baraza
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .logo-bar
      .left-empty
      .middle-content
        .header
          .logo
            %a{:href => "/"}= image_tag "logo.png",  :alt => "Baraza Logo"
          .mission
            .statement Reclaiming the past
            .separator
              |
            .statement Contesting the present
            .separator
              |
            .statement Inventing the future
      .right-empty
    .nav-bar
      .left-empty
      .middle-content
        .tabs
          .item.left
            %a EXPLORE
            %span.icon-down-arrow
          .item.left
            %a LEARN
            %span.icon-down-arrow
          .item.left.participate
            %a PARTICIPATE
            %span.icon-down-arrow
          .item.right
            %span.icon-search
          - if current_user
            .item.right
              = link_to "LOGOUT", destroy_user_session_path, :method => :get
            .item.right
              = link_to "+ CREATE", new_article_path
          - else
            .item.right
              %a{href: "#", "data-reveal-id" => "signInModal"}
                LOGIN /
              %a{href: "#", "data-reveal-id" => "signUpModal"}
                SIGN UP

            = render "users/registrations/new"
            = render "users/sessions/new"
            = render "users/confirmations/new"
            = render "users/passwords/new"
      .right-empty
    .main-content
      .left-empty
      .middle-content
        %p.notice
          = notice
        %p.alert
          = alert
        .render-content
          = yield
      .right-empty