#signUpModal.reveal-modal{"aria-hidden" => "true", "aria-labelledby" => "modalTitle", "data-reveal" => "", :role => "dialog"}
  .registration_page
    .title
      %h3 Join Baraza to re-invent the future
    .register
      .omniauth
        Use your preferred social network
        %div
          %div.fb_sign_in
            = link_to (image_tag "signup_with_facebook.png"), omniauth_authorize_path(resource_name, "facebook")
        -#%div
        -#  %span.icon-facebook-square
        -#    = link_to "Sign in with Google", omniauth_authorize_path(resource_name, "google_oauth2")
        %br/

      .custom
        Or enter details
        = form_for(resource, as: resource_name, url: registration_path(resource_name), remote: true) do |f|
          .display_error
          .field
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true
          .field
            = f.label :password
            - if @validatable
              %em
                (#{@minimum_password_length} characters minimum)
            %br/
            = f.password_field :password, autocomplete: "off"
          .field
            = f.label :password_confirmation
            %br/
            = f.password_field :password_confirmation, autocomplete: "off"
          .actions
            = f.submit "Register"
        = render "users/shared/links"
