#signUpModal.medium.reveal-modal{"aria-hidden" => "true", "aria-labelledby" => "modalTitle", "data-reveal" => "", :role => "dialog"}
  .registration_page
    .success_flash.hide
      = t("devise.registrations.signed_up_but_unconfirmed")
    .title
      %h3 Join Baraza to invent the future
    .register
      .omniauth
        %h5 Use your preferred social network
        %div.google_sign_in
          = link_to (image_tag "signup_with_google.png"), omniauth_authorize_path(resource_name, "google_oauth2")
        %div.fb_sign_in
          = link_to (image_tag "signup_with_facebook.png"), omniauth_authorize_path(resource_name, "facebook")
        %br/
      .or
        %h5 Or
      .custom
        %h5 Enter these details
        = form_for(resource, as: resource_name, url: registration_path(resource_name), remote: true) do |f|
          .display_error
          .name
            .field.first_name
              = f.label :first_name
              = f.text_field :first_name
            .field.last_name
              = f.label :last_name
              = f.text_field :last_name
          .field
            = f.label :email
            = f.email_field :email, autofocus: true
          .field
            = f.label :password
            - if @validatable
              %em
                (#{@minimum_password_length} characters minimum)
            = f.password_field :password, autocomplete: "off"
          .field
            = f.label :password_confirmation
            = f.password_field :password_confirmation, autocomplete: "off"
          .field
            = f.label :year_of_birth
            = f.select(:year_of_birth, (Time.zone.now.year - 100)..(Time.zone.now.year - 14), prompt: "Select a year")
          .field
            = f.label :country
            = f.country_select :country, prompt: "Select a country"
          .field
            = f.label :gender
            = f.radio_button :gender, "M"
            Male
            = f.radio_button :gender, "F"
            Female
            = f.radio_button :gender, "Other"
            Other
          .actions
            = f.submit "Register"
  = render "users/shared/links"
  = render "users/shared/close"
