#signUpModal.panel
  .registration_page
    .title
      %h3 Join Baraza to invent the future
    .register
      .omniauth
        %h5 Use your preferred social network
        = link_to "", omniauth_authorize_path(resource_name, "google_oauth2"), class: "google_sign_up"
        = link_to "", omniauth_authorize_path(resource_name, "facebook"), class: "fb_sign_up"
        %br/
      .custom
        %h5 Enter these details
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "no-double-click"}) do |f|
          #error_explanation
            - if resource.errors.any?
              %ul
                - error_message_for_email(resource).each do |msg|
                  %li{:id=> "errorMessage"}= msg

          .name
            .field.first_name
              = f.label :first_name
              = f.text_field :first_name, autofocus: true,required: ""
            .field.last_name
              = f.label :last_name
              = f.text_field :last_name, required: ""
          .field
            = f.label :email
            = f.email_field :email, required: ""
          .field
            = f.label :password, data: { hint: "Minimum of 8 characters, 1 special character & 1 number" }
            = f.password_field :password, autocomplete: "off", required: ""
          .field
            = f.label :password_confirmation
            = f.password_field :password_confirmation, autocomplete: "off", required: ""
          .field
            = f.label :year_of_birth
            = f.select(:year_of_birth, (Time.zone.now.year - 100)..(Time.zone.now.year - 14), prompt: "Select a year")
          .field
            = f.label :country
            = f.country_select :country, prompt: "Select a country"
          .field
            = f.label :gender
            = f.radio_button :gender, "M"
            Male
            = f.radio_button :gender, "F"
            Female
            = f.radio_button :gender, "Other"
            Other
          .actions
            = f.submit "Register"

